PORT=3000
WEB_ORIGIN=http://localhost:5173
DATABASE_URL=postgresql://postgres:9yvaYg4CtPsUgx2h@db.vpyvmlmbksdfpecswvgc.supabase.co:5432/postgres
GOOGLE_CLIENT_ID=37003579303-k4a2qe1nm48jmubo88h9h5cipuast52n.apps.googleusercontent.com
SESSION_SECRET=replace-with-a-long-random-string
